{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word Game | Test Your English Vocabulary!</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'fontawesome/css/all.min.css' %}"></script>
    <script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
    <div class="container text-capitalize">
        <div class="row"> 
            <div class="col-md-6 offset-md-3 text-center">
                    <h1>word game</h1>
                    <p>test your english vocabulary</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                    <button title="Initialize a set of new letters for the game" class="btn btn-primary" onclick="get_letters()">re-start Game</button>
            </div>
            <div class="col-md-4 text-center">
                    <button title="shuffle the letters for easier viewing of new words" class="btn btn-primary" onclick="shuffle_letters()">shuffle letters</button>
            </div>
            <div class="col-md-4 text-right">
                    <button class="btn btn-primary" onclick="end_game()">stop game</button>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-3 border-right border-danger">
                <h2>used words</h2>
                <div class="list-group" id="used_words"></div>
            </div>
            <div class="col-md-6 text-center">
                <h2>letters</h2>
                <div id="message"></div>
                <div id="letters"></div>
                <hr>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <form method="POST">
                            <div class="d-flex flex-row ">
                                <div class="p-1">
                                        <input type="text"name="word" id="word" 
                                        autofocus required autocomplete="off" class="form-control" 
                                        placeholder="Enter An English word">
                                </div>
                                <div class="p-1">
                                        <button type="button" class="btn btn-primary" id="word_btn" 
                                        onclick="process_word()">validate</button>
                                </div>
                            </div>
                        </form>
                </div>
                </div>
            </div>
            <div class="col-md-3 border-left border-danger ml-0.5">
                <div class="row">
                        <div>word score: <span id="score">0</span></div>
                </div>
                <div class="row">
                    <div>total score: <span id="total">0</span></div>
                </div>   
            </div>
        </div>

        <hr>
        </div>

        <hr>

    </div> 
    <script>
        let letters = [];
        let used_words = [];
        let letters_div = document.getElementById('letters');
        let table = document.createElement('table');

        table.classList.add('table','table-bordered','table-dark');

    
        // function to shuffle and array
        function shuffleArray(array){
            for(let i = array.length - 1; i > 0; i--){
                let j = Math.floor(Math.random() * (i + 1));
                let temp = array[i];
                array[i] = array[j];
                array[j] = temp;
            }
        }

        $('#word').keypress(function(e){
            if(e.keyCode == 13 ){
                $('#word_btn').click();
            }

        });


        // function to shuffle the letters randomly and display them
        function shuffle_letters(){
            shuffleArray(letters);
            display_letters(letters);
        }

        // functipon to display the letters on the screen
        function display_letters(letters){
                $('#message').html('');
                $('#letters').html('');
                $('#score').html(0);
                table.innerHTML = '';

                let  tr1 = document.createElement('tr');
                let  tr2 = document.createElement('tr');
                let  tr3 = document.createElement('tr');

                for (let i =0; i < 3; ++i){
                    let td = document.createElement('td');
                    td.innerHTML = letters[i];
                    tr1.appendChild(td);  
                }
                table.appendChild(tr1);
                for (let i =3; i < 6; ++i){
                    let td = document.createElement('td');
                    td.innerHTML = letters[i];
                    tr2.appendChild(td);
                    
                }
                table.appendChild(tr2);
                for (let i =6; i < 9; ++i){
                    let td = document.createElement('td');
                    td.innerHTML = letters[i];
                    tr3.appendChild(td);
                    
                }
                table.appendChild(tr3);

                letters_div.appendChild(table);    
        }

        //function to get the letters from the server and display them 
        // run at start or restart of the game
        function get_letters(){
            //reset the total to 0
            $('#total').html(0);
            //reset used words to an empty list
            used_words = [];
            
            $.getJSON('/words/letters/',function(response){
                letters = response['letters'];
                display_letters(letters);
                //display the used words
                display_used_words();
            });
        }

        //function to check whether a word is an english word and get its score
        function process_word(){
            //reset the message to nothing
            $('#message').html('');
            let word = $('#word').val();
            word = word.toUpperCase();
            //data to be send to the saerver in JSON format
           data = JSON.stringify({word:word,letters:letters});

           $.post('/words/word/validate/',data,function(response){
               console.log(response);
               if (response.msg != true){
                   $('#message').html(word + ' is an incorrect word!').attr('class','text-danger');
                   $('#score').html(0);
               }
               else{
                   if(used_words.includes(word)){
                       $('#message').html(word + ' has already been entered!').attr('class','text-warning');
                       $('#score').html(0);
                   }
                   else
                   {
                    let url = '/words/word/process/' + word.toLowerCase();
                    $.getJSON(url,function(response){
                        console.log(response);
                        if( response.msg == false){
                             $('#message').html(word + ' is not an English word!').attr('class','text-warning');
                             $('#score').html(0);
                        }
                        else{
                             $('#message').html(word + ' is a correct English word!').attr('class','text-success');
                             //append the word to the used words list
                             used_words.push(word);
                             //debug
                             console.log(used_words);
                             //display the used words
                             display_used_words();
                             $('#score').html(response.data.scrabble_score);
                             let total = $('#total').html();
                             console.log(total);
                             let new_total = parseInt(total) + parseInt(response.data.scrabble_score);
                             console.log(new_total);
                             $('#total').html(new_total);
 
                        }
                    });
                   }
                  
               }
           });
        


        };

        //function to display the used words
        function display_used_words(){
            //the case where no words yet
            if(used_words.length == 0){
                $('#used_words').html('No Words Yet!').attr('class','text-danger');

            }
            else
            {
                //reset the used words displayed
                $('#used_words').html('');
                for(let i = 0; i < used_words.length; ++i){
                    let li = document.createElement('li');
                    li.classList.add('list-group-item');
                    li.innerHTML = used_words[i];
                    $('#used_words').append(li);
                }
            }
        }
        //run at on loading, get the letters from server and display them
        get_letters();
    </script>
</body>
</html>